
body {
    background-color: #f3fff3;
}
.board {
    background: #ffffff;
    border: 2px solid #666699;
    box-shadow: 10px 10px 5px;
}
.cell {
    border: 1px solid #666666;
}
.cell-input {
    width: 43px;
    height: 43px;
    vertical-align: middle;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    border: 0px;
    color: #00bb00
}
.btn-submit {
    margin-top: 10px;
    background-color: grey;
    font-weight: bold;
    font-size: 14px;
    padding-left: 9px;
    padding-top: 5px;
}
.b0 {
    border-left: 2px solid #666666;
}
.b1 {
    border-top: 2px solid #666666;
}
